* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(217, 28%, 15%);
  /*Changes to flex so we can fit many div side-by-side*/
  /* display: flex;
  flex-wrap: wrap; */
}

/*Changes made by Monica Cardoso*/
header {
  text-align: center;
  width: 85%;
  margin: auto;
  color: white;
}

.buttons-container {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
}

.button {
  padding: 20px;
}

/* .container-of-buttons {
  height: 600px;
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */
button {
  outline: none;
  width: 6rem;
  height: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10%;
  border: 1px solid black;
  background-color: #ffcad4;
  cursor: pointer;
}
/* *************button1(.one) changed by Jenis Rai************ */
.one {
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 1.1px;
  font-size: 1em;
  color: #fff;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  width: 8rem;
  height: 3rem;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px #fff;
}
.one:focus {
  box-shadow: 0px 4px #fff;
}
.one:active {
  transform: translate(0px, 2px);
  box-shadow: 0px 2px #fff;
}
.two:hover {
  opacity: 0.75;
  transition: 200ms;
  font-weight: lighter;
}

.three:hover {
  box-shadow: inset 0 0 0 5px #f4acb7;
  transition: 200ms;
}

.four:hover {
  transition: 100ms;
  border-radius: 80%;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-round {
  background-color: #c9af2d;
  color: hsl(0, 0%, 18%);
  border: 0px none white;
  padding: 6px 13px 10px;
  font-family: verdana;
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.7s ease-out;
  box-shadow: 0px 0px 10px 4px rgb(44, 44, 44);
}

/* Added my (Dart) buttons here */
.dart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-play {
  transform: translateY(-25px);
  display: flex;
  position: relative;
}

.btn-round:hover {
  transform: scale(1.3, 1.3) rotate(180deg);
}

.outer-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid rgb(114, 6, 6);
  background-color: none;
  display: grid;
  place-items: center;
  z-index: 3;
  cursor: pointer;
}

.outer-circle:hover {
  transform: scale(1.5, 1.5);
  opacity: 0;
  transition: all 1s ease-out;
}

.outer-circle:hover + .inner-circle .triangle {
  transform: scale(1.2, 1.1) rotate(90deg);
  transition: all 0.5s ease-in;
}

.inner-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(114, 6, 6);
  display: grid;
  place-items: center;
  z-index: 2;
  cursor: pointer;
}

.triangle {
  width: 0;
  height: 0;
  border: none;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255);
  transform: rotate(90deg);
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  margin-left: 5px;
}

.triangle:hover {
  transform: rotate(90deg);
}
